.delete-shop-modal {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: auto;
  padding: 2px 10px 10px 10px;
  background-color: #b6bad4;
  background-color: #3B426E;
  color: #BAB39C;
  border: 3px solid #7a6f48;
  border-radius: 50px;
}

.delete-shop-header {
  font-size: 1.25rem;
  text-align: center;
  white-space: nowrap;
}

.delete-shop-button {
  margin: auto;
  margin-top: 10px;
  background-color: #b6bad4;
  border-radius: 50px;
  border: 3px solid #b6bad4;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #3B3214;
  width: 150px;
}

.delete-shop-button:hover {
  border: 3px solid #7a6f48;
  transition: ease-in 0.4s;
}

@media screen and (max-width: 460px) {
  .delete-shop-modal {
    gap: 10px;
  }
}
