.shops-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 350px;
  padding: 10px;
  background-color: grey;
}

.shops-container-text {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 10px;
}

.shops-link {
  text-decoration: none;
  color: black;
}

.shops-link:hover {
  box-shadow: 7.5px 7.5px 7.5px #28b599;
}

.shops-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  gap: 5px;
  margin: auto;
}

.shops-allimage {
  height: 327.5px;
  width: 327.5px;
}

.shops-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.shops-button-filter {
  margin: 10px;
  width: 174px;
}

.shops-button-filter:hover {
  box-shadow: 5px 5px 5px #28b599;
}

@media screen and (max-width: 1300px) {
  .shops-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 1100px) {
  .shops-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .shops-gallery {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}
