.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417.5px;
  width: 350px;
  padding: 10px;
  background-color: #14193b;
  border-radius: 10px;
}

.products-container-text {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 10px;
}

.products-link {
  text-decoration: none;
  margin: 8px;
  height: 417.5px;
  width: 350px;
}

.products-link:hover {
  box-shadow: 27.5px 27.5px 27.5px #b6bad4;
}

.products-link-shop {
  text-decoration: none;
  color: #b6bad4;
}
.products-link-div:hover {
  border-bottom: 1px #b6bad4 solid;
}
.products-link-div {
  color: #b6bad4;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px #14193b solid;
}

.products-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.products-allimage {
  border-radius: 10px;
  height: 327.5px;
  width: 327.5px;
}

.products-text,
.products-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
  color: #b6bad4;
}

.products-category {
  width: fit-content;
  border-bottom: 1px #14193b solid;
}
.products-category:hover {
  border-bottom: 1px #b6bad4 solid;
}

.products-price,
.products-rating {
  color: #bab39c;
}

.products-review-shop {
  display: flex;
  justify-content: space-between;
}

.products-button-filter {
  margin: 10px;
  background-color: #b6bad4;
  border-radius: 50px;
  border: 3px solid #b6bad4;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #3b3214;
  width: 211.13px;
  white-space: nowrap;
}

.products-button-filter:hover {
  border: 3px solid #7a6f48;
}

@media screen and (max-width: 1300px) {
  .products-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .products-gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .products-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
    width: 100%;
  }
  .products-container {
    padding: 0;
  }
  .products-name,
  .products-text,
  .products-container-text {
    max-width: 320px;
  }
  .products-allimage {
    width: 310px;
    height: 310px;
  }
  .products-button-filter {
    margin: 10px;
    background-color: #b6bad4;
    border-radius: 50px;
    border: 3px solid #b6bad4;
    padding: 8px;
    cursor: pointer;
    width: fit-content;
    color: #3b3214;
    white-space: nowrap;
    font-size: 1.2rem;
  }
  .products-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  .products-button-filter {
    font-size: 1.8rem;
  }
}
