.prodetails-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #14193b;
  border-radius: 15px;
}

.prodetails-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #14193b;
  border-radius: 15px;
  gap: 10px;
}

.prodetails-reviews-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  margin: auto;
}

.prodetails-imgdetails-container {
  display: flex;
  gap: 10px;
}

.prodetails-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
  background-color: #777ca1;
  border-radius: 15px;
}

.prodetails-text {
  max-width: 500px;
  background-color: #b6bad4;
  border: 3px solid #b6bad4;
  color: #3b3214;
  padding: 10px;
  border-radius: 50px;
}

.prodetails-image {
  border-radius: 15px;
  height: 768px;
  width: 768px;
}

.prodetails-name {
  font-size: 1rem;
  font-weight: bold;
}

.prodetails-utilities {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.prodetails-edit-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prodetails-button {
  margin: 10px;
  white-space: nowrap;
  background-color: #b6bad4;
  border-radius: 50px;
  border: 3px solid #b6bad4;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #3b3214;
}

.prodetails-button:hover {
  border: 3px solid #7a6f48;
}

.prodetails-link-shop {
  text-decoration: none;
  color: #3b3214;
}
.prodetails-link-shop:hover {
  border-bottom: 1px #3b3214 solid;
}

@media screen and (max-width: 1300px) {
  .prodetails-reviews-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 1100px) {
  .prodetails-reviews-gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    margin: auto;
  }
  .prodetails-imgdetails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10x;
  }
  .prodetails-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #777ca1;
    gap: 15px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 760px) {
  .prodetails-reviews-gallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    margin: auto;
  }
  .prodetails-image {
    border-radius: 15px;
    height: 500px;
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .prodetails-image {
    border-radius: 15px;
    margin-top: 10px;
    height: 310px;
    width: 310px;
  }

  .prodetails-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14193b;
    border-radius: 15px;
    padding: 0px;
    width: 375px;
    margin: auto;
  }

  .prodetails-container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 310px;
    width: 310px;
    background-color: #777ca1;
    gap: 15px;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 0px;
  }
  .prodetails-text {
    max-width: 310px;
    background-color: #b6bad4;
    border: 3px solid #b6bad4;
    color: #3b3214;
    padding: 10px;
    border-radius: 50px;
  }
  .prodetails-reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #14193b;
    border-radius: 15px;
    gap: 10px;
    font-size: 1.2rem;
  }
  .prodetails-button {
    font-size: 1.2rem;
  }
}
