.products-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.products-form-label {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.products-form-link {
  text-decoration: none;
  color: black;
  border: 2px solid #28b599;
}

.products-form-link:hover {
  box-shadow: 3px 3px 3px #28b599;
}

.products-form-input {
  border-radius: 15px;
  width: 175px;
  outline: none;
}

.products-form-input:hover {
  box-shadow: 3px 3px 3px #28b599;
}

.products-form-input:focus {
  box-shadow: 3px 3px 3px #28b599;
}

.products-form-select {
  width: 175px;
}

.products-form-select:hover {
  box-shadow: inset 2px 2px 2px #28b599;
}

.products-form-button {
  margin: auto;
  width: 87px;
}

.products-form-button:hover {
  box-shadow: 3px 3px 3px #28b599;
}
