.category-products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 417.5px;
  width: 350px;
  padding: 10px;
  background-color: #14193b;
  border-radius: 10px;
}

.category-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14193b;
  padding: 10px;
  border-radius: 10px;
}

.category-image {
  border-radius: 10px;
  height: 327.5px;
  width: 327.5px;
}

.category-products-container-text {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: left;
  width: 350px;
  color: #b6bad4;
}

.category-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #14193b;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  border-bottom: 3px solid #14193b;
}

.category-products-price,
.category-products-rating {
  color: #bab39c;
}

.category-products-link {
  text-decoration: none;
  margin: 8px;
  height: 417.5px;
  width: 350px;
}

.category-products-link:hover {
  box-shadow: 27.5px 27.5px 27.5px 10px#b6bad4, 0 0 27.5px 10px #b6bad4;
  transition: ease-in 0.2s;
}

.category-products-link-div {
  color: #b6bad4;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px #14193b solid;
}

.category-products-link-div:hover {
  border-bottom: 1px #b6bad4 solid;
  transition: ease-in 0.4s;
}

.category-products-link-shop {
  text-decoration: none;
  color: #b6bad4;
}

.category-products-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.category-products-allimage {
  height: 327.5px;
  width: 327.5px;
}

.category-products-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.category-products-review-shop {
  display: flex;
  justify-content: space-between;
}

.category-na {
  font-size: 2rem;
  color: #14193b;
}

.category-arrow {
  width: fit-content;
  font-size: 2rem;
  color: #14193b;
  cursor: pointer;
}

@media screen and (max-width: 1560px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 1160px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
}

@media screen and (max-width: 780px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
    margin: auto;
  }
  .category-products-container {
    padding: 0;
  }
  .category-products-container-text {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    justify-content: left;
    width: 320px;
    color: #b6bad4;
  }
  .category-image-container {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .category-image {
    height: 310px;
    width: 310px;
  }
}
