.categories-form {
  display: flex;
  gap: 10px;
  width: 400px;
}

.categories-form-label {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.categories-form-input {
  border-radius: 15px;
  width: 175px;
  outline: none;
}

.categories-form-input:hover {
  box-shadow: 3px 3px 3px #28b599;
}

.categories-form-input:focus {
  box-shadow: 3px 3px 3px #28b599;
}

.categories-form-button {
  margin: auto;
  width: 87px;
}

.categories-form-button:hover {
  box-shadow: 3px 3px 3px #28b599;
}
