.category-products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 350px;
  padding: 10px;
  background-color: grey;
}

.category-name {
  font-size: 2rem;
}

.category-products-container-text {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 10px;
}

.category-products-link {
  text-decoration: none;
  color: black;
}

.category-products-link:hover {
  box-shadow: 7.5px 7.5px 7.5px #28b599;
}

.category-products-link-shop {
  text-decoration: none;
  color: black;
}
.category-products-link-shop:hover {
  border-bottom: 1px black solid;
}

.category-products-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  gap: 5px;
  margin: auto;
}

.category-products-allimage {
  height: 327.5px;
  width: 327.5px;
}

.category-products-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.category-products-review-shop {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .category-products-gallery {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}
