.delete-category-modal {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 2px 10px 10px 10px;
}

.delete-category-header {
  font-size: 1.25rem;
  text-align: center;
}

.delete-category-button {
  margin: 10px;
  width: 87px;
}

.delete-category-button:hover {
  box-shadow: 5px 5px 5px #28b599;
}
