.categories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 350px;
  padding: 10px;
  background-color: grey;
}

.categories-flex {
  display: flex;
  flex-direction: column;
}

.categories-gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  gap: 5px;
  margin: auto;
}

.categories-link {
  text-decoration: none;
  color: black;
}

.categories-link:hover {
  box-shadow: 7.5px 7.5px 7.5px #28b599;
}

.categories-utilities {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

@media screen and (max-width: 1300px) {
  .categories-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .categories-gallery {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}

@media screen and (max-width: 760px) {
  .categories-gallery {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1rem;
    grid-template-rows: auto;
    justify-content: center;
    gap: 5px;
    margin: auto;
  }
}
