
.catimg-button {
  margin: 10px;
  margin-top: 10px;
  white-space: nowrap;
  background-color: #b6bad4;
  border-radius: 50px;
  border: 3px solid #b6bad4;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #3b3214;
}

.catimg-button:hover {
  border: 3px solid #7a6f48;
}

.catimg-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.catimg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.catimg-label {
  background-color:  #777ca1;
  border: 3px solid #b6bad4;
  color: #3b3214;
  padding: 10px;
  border-radius: 50px;

}
